<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APCOS自检运营系统</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script>
        // $(function () {
        //     let designSize = 1920;
        //
        //     let html = document.documentElement;
        //     let vW = html.clientWidth;
        //     if(vW <= 800 ){
        //         document.documentElement.style.fontSize =18 + "px";
        //     }
        //     let rem = vW * 100/designSize;
        //     document.documentElement.style.fontSize =rem + "px";
        //     // console.log( document.documentElement.style.fontSize)
        // })

    </script>
</head>
<body>
<div id="app">
    <div class="header">
        <span class="title">APCOS服务自检运营系统</span>
        <div class="settingBox">
            <div class="inputBox" v-show="isSearchShow">
                <i></i>
                <input type="text" placeholder="搜索..."
                    v-model="searchInputData"
                    @keyup.13 ="earthDataCenterPosition()">
            </div>
            <img class="searchImg" @click="isSearch()" :src="searchImgSrc" alt="">
            <img class="DImg" @click="ttShow()" :src="ttImg" alt="">
            <img class="fullScreenImg" @click="fullScreenImg()" :src="FullScreen" alt="">
            <img class="isShowImg" @click="isShowLeft()" :src="showLeft" alt="">
        </div>
    </div>
    <div class="contentBox">
        <div class="leftBox" v-show="isLeftShow">
            <div class="itemBox">
                <span class="iconBox"></span>
                <p class="titleBox">
                    <img src="img/icon001.png" alt="">
                    <span>数据中心总量/<span style="font-size: 0.08rem">TOTAL DATA CENTER</span></span>
                </p>
                <div id="EchartsOne" class="EchartsBox" style="height: 1.2rem;width: 4.2rem;margin: 0.1rem 0;"></div>
                <div class="textBox">
                    <div class="testItemBox">
                        <span><i style="background-color: #6EFFB5"></i>资源占有率: 25%</span>
                        <span><i style="background-color: #6EFFB5"></i>运行状态</span>
                    </div>
                    <div class="testItemBox">
                        <span><i style="background-color: #00FFFF"></i>资源占有率: 50%</span>
                        <span><i style="background-color: #00FFFF"></i>运行状态</span>
                    </div>
                    <div class="testItemBox">
                        <span><i style="background-color: #FD9D02"></i>资源占有率: 75%</span>
                        <span><i style="background-color: #FD9D02"></i>运行状态</span>
                    </div>
                </div>
            </div>
            <div class="itemBox">
                <span class="iconBox"></span>
                <p class="titleBox">
                    <img src="img/icon001.png" alt="">
                    <span>带宽统计/<span style="font-size: 0.08rem">DATA CENTER STATUS STATISTICS</span></span>
                </p>
                <p class="dwP">单位T</p>
                <div id="EchartsTwo" style="width:100%;height: 180px;margin: 0.1rem 0;"></div>
            </div>
            <div class="itemBox">
                <span class="iconBox"></span>
                <p class="titleBox">
                    <img src="img/icon001.png" alt="">
                    <span>故障挂机率/<span style="font-size: 0.08rem">FAULT HANG RATE</span></span>
                </p>
                <div class="threeBox">
                    <div id="EchartsThree" style="width: 100%;height: 240px;margin: 0.1rem 0;"></div>
                    <div class="threeTest">
                        <div class="testItem">
                            <i style="background-color: #FD9D02"></i>
                            <span>
                                <span style="color: #FD9D02;font-size: 0.16rem">40%</span>
                                <br>
                                <span>1号服务器</span>
                            </span>
                        </div>
                        <div class="testItem">
                            <i style="background-color: #4AfeA3"></i>
                            <span>
                                <span style="color: #4AfeA3;font-size: 0.16rem">31%</span>
                                <br>
                                <span>2号服务器</span>
                            </span>
                        </div>
                        <div class="testItem">
                            <i style="background-color: #2A86F5"></i>
                            <span>
                                <span style="color: #2A86F5;font-size: 0.16rem">20%</span>
                                <br>
                                <span>3号服务器</span>
                            </span>
                        </div>
                        <div class="testItem">
                            <i style="background-color: #00FFFF"></i>
                            <span>
                                <span style="color: #00FFFF;font-size: 0.16rem">9%</span>
                                <br>
                                <span>4号服务器</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="centerBox">
            <div class="contItem" v-show="isContShow">
                <div style="width: 100%;height: 100%">2D页面</div>
            </div>
            <div class="contItem" v-show="!isContShow">
                <div id="two" style="width: 100%;height: 100%;"></div>
            </div>
        </div>
        <div class="rightBox">
            <div class="itemBox" style="height: 98%">
                <span class="iconBox"></span>
                <p class="titleBox">
                    <img src="img/icon001.png" alt="">
                    <span id="dataCenterName">数据中心详情/<span style="font-size: 0.08rem">DATA CENTER DETAILS</span></span>
                </p>
                <div class="selectBox">
                    <span class="checked">北京数据中心</span>
                    <i></i>
                    <ul class="selectUL" >
                        <li v-for="(item,key,i) in dataCenterSelectItems"
                            :key="i"
                            @click = "earthDataCenterPosition(item.value)"
                            :title = "item.name+'数据中心'">{{item.name}}</li>

                    </ul>
                </div>
                <div class="contBox">
                    <p class="titleNav">承载能力</p>
                    <div class="czBox">
                        <div class="czItem">
                            <img src="img/icon-01.png" alt="">
                            <p>服务器数量</p>
                            <span>20万台</span>
                        </div>
                        <div class="czItem">
                            <img src="img/icon-02.png" alt="">
                            <p>交换机</p>
                            <span>1万台</span>
                        </div>
                        <div class="czItem">
                            <img src="img/icon-03.png" alt="">
                            <p>存储器</p>
                            <span>7万台</span>
                        </div>
                        <div class="czItem">
                            <img src="img/icon-04.png" alt="">
                            <p>资源占有率</p>
                            <span>70%</span>
                        </div>
                        <div class="czItem">
                            <img src="img/icon-05.png" alt="">
                            <p>宽带</p>
                            <span>21T</span>
                        </div>
                    </div>
                    <p class="titleNav">设备运行状况</p>
                    <div class="sbBox">
                        <div class="sbItem">
                            <i></i>
                            <span>运行设备:<span>10 万台</span></span>
                        </div>
                        <div class="sbItem">
                            <i></i>
                            <span>待机设备:<span>1 万台</span></span>
                        </div>
                        <div class="sbItem">
                            <i></i>
                            <span>故障设备:<span>0 台 </span></span>
                        </div>
                    </div>
                    <p class="titleNav">用户使用软件人数统计</p>
                    <div class="sbBox">
                        <div class="sbItem">
                            <i></i>
                            <span> 巡检人员:<span>金一二</span></span>
                        </div>
                        <div class="sbItem">
                            <i></i>
                            <span>巡检备注:<span>一切正常</span></span>
                        </div>
                        <div class="sbItem" style="width: 100%">
                            <i></i>
                            <span>今期巡检时间:<span>2018.6.18</span></span>
                        </div>
                    </div>
                    <p class="titleNav">管理人员</p>
                    <div class="infoBox">
                        <div class="imgBox">
                            <img src="img/userImg.png" alt="">
                        </div>
                        <div class="userBox">
                            <p>
                                <img src="img/userIcon.png" alt="">
                                <span class="userTest">曹登化</span>
                            </p>
                            <p>
                                <img src="img/telIcon.png" alt="">
                                <span class="userTest">13123548562</span>
                            </p>
                            <p>
                                <img src="img/homeIcon.png" alt="">
                                <span class="userTest">重庆研究院</span>
                            </p>
                            <p>
                                <span class="clName">以处理事项:</span>
                                <span class="jdBox">
                                    <span style="width: 60%;background-color: #0082FD;"></span>
                                </span>
                                <span class="number">65%</span>
                            </p>
                            <p>
                                <span class="clName">以处理事项:</span>
                                <span class="jdBox">
                                    <span style="width: 40%;background-color: #FD663F"></span>
                                </span>
                                <span class="number">40%</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/echars_4.4.0.min.js"></script>
<script src="js/echarts-liquidfill.min.js"></script>
<script src="js/echarts-gl.min.js"></script>
<script src="js/title.js"></script>
<script src="js/left.js"></script>
<script src="js/middle.js"></script>
</body>
</html>